body{

}
nav{
    display:flex;
    width:100vw;
    height: 35px;
    justify-content: space-between;
    border-bottom: 1px solid grey;

}
img{
    width:100%;
    height: auto;

}
.nav-img{
    width: 25px;
    height: 25px;
}
.heading{
    max-height: 35px;
    max-width: 250px;
}
a{
    display:block;
}
.nav-start{
    display:flex;
}
.nav-end{
    display:flex;
}